<html lang='en'>
<head>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='../static/style.css'>
    <script src='../static/client.js'></script>
</head>
<body>
<div>
    <div class='center'>
        <div class='title'>Classify Histopatological Sample Images</div>
        <div class='content'>
            <div class='no-display'>
                <input id='file-input'
                       class='no-display'
                       type='file'
                       name='file'
                       accept='image/*'
                       onchange='showPicked(this)'>
            </div>
            <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
            <div class='upload-label'>
                <label id='upload-label'>No file chosen</label>
            </div>
            <div>
                <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
            </div>
            <div class='analyze'>
                <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
            </div>
            <div class='result-label'>
                <label id='result-label'></label>
            </div>
            <div class="row">
              <div class="column">
                <img id="00006537328c33e284c973d7b39d340809f7271b.png" src="../static/images/00006537328c33e284c973d7b39d340809f7271b.png" alt="H1" onclick="getExample(this);">
                <img id="0000ec92553fda4ce39889f9226ace43cae3364e.png" src="../static/images/0000ec92553fda4ce39889f9226ace43cae3364e.png" alt="H2" onclick="getExample(this);">
                <img src="../static/images/00024a6dee61f12f7856b0fc6be20bc7a48ba3d2.png">
                <img src="../static/images/000253dfaa0be9d0d100283b22284ab2f6b643f6.png">
              </div>
              <div class="column">
                <img src="../static/images/000270442cc15af719583a8172c87cd2bd9c7746.png">
                <img src="../static/images/000309e669fa3b18fb0ed6a253a2850cce751a95.png">
                <img src="../static/images/000360e0d8358db520b5c7564ac70c5706a0beb0.png">
                <img src="../static/images/00040095a4a671280aeb66cb0c9231e6216633b5.png">
              </div>
              <div class="column">
                <img src="../static/images/000698b7df308d75ec9559ef473a588c513a68aa.png">
                <img src="../static/images/0006e1af5670323331d09880924381d67d79eda0.png">
                <img src="../static/images/000997a6038fa7441aa0111ac456255060a354c4.png">
                <img src="../static/images/000c8db3e09f1c0f3652117cf84d78aae100e5a7.png">
              </div>
              <div class="column">
                <img src="../static/images/000de14191f3bab4d2d6a7384ca0e5aa5dc0dffe.png">
                <img src="../static/images/000e6341cf18365d35b40f4991002fec8834afc0.png">
                <img src="../static/images/0010e2887e0b977fcdfdf4c50564fafbbc2b6208.png">
                <img src="../static/images/0010e7eaa3d8e14203cd3900b739d8bf0f0b67f0.png">
              </div>
              <div class="column">
                <img src="../static/images/001161a2eca200f565f12870048a78fa5b320dee.png">
                <img src="../static/images/0011807dd1e3306ff3f7a755fd3efbefa2901dce.png">
                <img src="../static/images/00118bec91b7fae175791896f7011ff506b3d7dd.png">
                <img src="../static/images/0011f0596a038fc8daec4fde71465e347515392e.png">
              </div>
              <div class="column">
                <img src="../static/images/0014fdb3da986174f9a1d7ae95f3b75a2d025a57.png">
                <img src="../static/images/00153be8e27526f9c2f035aff25ca9264db0a2ed.png">
                <img src="../static/images/0016dddb2797d3fafb38c2651c5589d92030e835.png">
                <img src="../static/images/00179c97cd2aaeafcbce352aa387db1b76616a53.png">
              </div>
              <div class="column">
                <img src="../static/images/00186a82134c399e8bb77d038475741d696cb72b.png">
                <img src="../static/images/001d59af39e296eb8323a190f58cf498f66fb08d.png">
                <img src="../static/images/001da402e229c18631c3dd7b8953e6f7e5d3ce99.png">
                <img src="../static/images/001e385106b858d95c122a1cb3a930d3f30e67de.png">
              </div>
              <div class="column">
                <img src="../static/images/001e92257a59ac137d99f52419884ca60e0b91ee.png">
                <img src="../static/images/0020b6b5a91d83fe3ba41ea6b89113db0848dac4.png">
                <img src="../static/images/002301620eee6e44284e4c18c3e2108d823f985f.png">
                <img src="../static/images/00238b4440f7c4c4a242e109d9729865414d87f7.png">
              </div>
              <div class="column">
                <img src="../static/images/00242f68262419a6703563c7b3995abfcee8f934.png">
                <img src="../static/images/00246a8e5ca1c1080530593b42527e6fb425fb6b.png">
                <img src="../static/images/0029739595dd8694eacead4cbd521fd3431ed442.png">
                <img src="../static/images/00298448559c7555d3999782a0f3cfb8cdedb57c.png">
              </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>
